{% extends 'base.html.twig' %}

{% block title %} Read : {{ subject }}{% endblock %}

{% block body %}

<h1>{{ subject }}</h1>
<h2>Description ({{ j_description|length }})</h2>
<ul>
  {% for comment in j_description %}
    <li>{{ comment }}</li>
  {% endfor %}
</ul>

<div>
    <p>
        There is something about the ocean that makes me feel calm.
    </p>
    <p>
        I would like to share some information about what I have created with internet-technology.
    </p>
    <p>
        Your office is in the same building that I happen to work in.
    </p>
</div>

{% endblock %}
